.login {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 40vh;
  justify-content: center;
  width: 30vw;
}

.logo {
  width: 50%;
}

.container-login {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.container-login button {
  background-color: blue;
  color: white;
}

.container-login input {
  width: 100%;
}

