body {
  align-items: center;
  background-color: #2fc18c;
  background-image: url('./images/foto\ fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

}

:root {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 100vh;
  justify-content: center;
}
